! Fonts
URxvt.font:xft:DejaVu:pixelsize=13:antialias=True,xft:DejaVu:pixelsize=13:antialias=True
URxvt.boldFont:
XTerm.font:xft:DejaVu:pixelsize=13:antialias=True,xft:DejaVu:pixelsize=13:antialias=True
XTerm.boldFont:

URxvt.transparent: true
URxvt.shading:20

! General
*.scrollBar: false
*.saveLines: 8192
*.internalBorder: 10
*.cursorUnderline: true
*.cursorBlink: true
*.dynamicColors:on
*.letterSpace: -3

Xft.autohint: 0
Xft.dpi: 96
Xft.hintstyle: hintnone
Xft.lcdfilter: lcddefault
Xft.rgba: rgb

! rofi
rofi.font:              DejaVu 14
rofi.location:          0
rofi.color-enabled:     true
rofi.separator-style:   solid
rofi.width: 100
rofi.padding:   700
rofi.opacity:   90
rofi.hide-scrollbar:    true
rofi.line-margin:       5
rofi.yoffset:           0
rofi.xoffset:           0
rofi.lines: 12 
rofi.tokenize: false


! Clickable Links
*perl-ext-common:	 default,matcher,clipboard
*keysym.Shift-Control-V: perl:clipboard:paste
*urlLauncher:		 firefox
*matcher.button:	 1
*url-select.underline:	 true
